.body--welcome-bg {
  background-image: url(/img/bg/welcome.jpg);
}

header {
  background-color: rgba(180, 123, 123, 0);
}

@media (min-width: 750px) {
  header img {
    width: 110px;
  }
}

footer {
  background-color: rgba(112, 112, 112, 0.616);
}

.grid-layout {
  height: 100%;
  width: 100vw;

  display: grid;
}

@media (min-height: 582px) {
  .grid-layout {
    height: 100vh;
  }
}

@media (min-width: 900px) {
  .grid-layout {
    grid-template-rows: 10% 80% 10%;
  }
}

.welcome {
  height: 100%;
  padding: 30px 10px;
  display: grid;
  align-items: center;

  font-size: 1.8rem;
}

.welcome__slide-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 620px) {
  .welcome__slide-container {
    /* padding: 0 10%; */
    justify-content: space-evenly;
  }
}

.welcome__slide {
  width: 300px;
  padding: 20px;
  margin-bottom: 15px;

  display: grid;
  grid-template-columns: repeat(2, 50%);
  justify-content: space-around;
  align-items: center;

  border-radius: 50px;

  background-color: rgba(255, 255, 255, 0.562);
}

.welcome__slide--img {
  width: 100%;
  max-height: 200px;
  object-position: top;
  object-fit: cover;
}

.welcome__slide--1 {
  transform: rotate(3deg);
}

.welcome__slide--2 {
  transform: rotate(-3deg);
}

.welcome__slide--2 p {
  grid-column: 2;
  text-align: end;
}

.welcome__slide--2 img {
  grid-column: 1;
  grid-row: 1;
}

.welcome__button {
  margin: 0 auto;
  width: 300px;
  height: 90px;
  border-radius: 15px;

  font-size: 2.3rem;
  text-align: center;

  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.welcome__button:hover {
  background-color: rgb(255, 225, 225);
}
